* {
    margin: 0;
}

body {
    margin: 0;
    color: whitesmoke !important;
    background-color: black !important;
}

.navbar-brand, .navbar-toggler {
    border: 2px solid white;
    padding: 0.4vw 1vw 0.6vw 1vw;
    transition: .5s;
}

.text-middle {
    text-align: center;
    position: absolute;
    top: 42%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header {
    top: 15%;
}

.hand-writing {
    font-family: 'Allura', cursive;
    padding-left: 1vw;
    font-size: 6vw;
    margin: 0;
}

.profile-photo {
    width: 18vw;
    position: absolute;
    top: 32%;
    left: 10vw;
    border-radius: 15px;
}

.about-me-section {
    display: flex;
}

.about-me-text {
    position: absolute;
    top: 32%;
    left: 32vw;
    margin: 0 6vw 0 2vw;
    text-align: justify;
}

.footer-div {
    display: flex;
    text-align: center;
    position: absolute;
    justify-content: center;
    /* left: 37vw; */
    top: 94%;
    width: 100%;
}

.footer-el {
    margin: 0 1vw 0 1vw;
}

.icon {
    width: 32px;
    height: 32px;
    margin: 0 1vw 1vw 0;
}

.fixed-top {
    position: absolute;
}

.carousel {
    width: 25vw;
    position: absolute;
    /* justify-content: center; */
    left: 37vw;
    top: -40vw;
}

.carousel-inner {
    border-radius: 15px;
}

.contact-container {
    position: absolute;
    width: 50vw !important;
    left: 25vw;
    top: 10vw;

}

.contact-text {
    font-size: large;
    text-align: center;
    line-height: 2.3vw !important;
}

.email {
    text-decoration: none;
}

.email:hover {
    text-decoration: none;
    color: rgba(178, 178, 178, 0.425) !important;
    transition: .3s;
}

.btn {
    margin-left: 16vw;
    margin-right: 11vw;
    width: 15vw;
    letter-spacing: .3rem;
    font-weight: 200;
    border-radius: 30px !important;

}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
    color: black !important;
    border: 2px solid black !important;
    transition: .5s;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-caption,
.carousel-indicators {
    filter: invert(100%);
}

h5 {
    font-size: large !important;
    font-weight: bolder !important;
}

.blur {
    filter: blur(1.5px);
    transition: .5s
}

.blur:hover {
    filter: none;
    transition: .5s
}

.horizontal-box-top {
    width: 100px;
    height: 12vw;

    background:
        linear-gradient(to right, white 4px, transparent 4px) 0 0,
        linear-gradient(to right, white 4px, transparent 4px) 0 100%,
        linear-gradient(to left, white 4px, transparent 4px) 100% 0,
        linear-gradient(to left, white 4px, transparent 4px) 100% 100%,
        linear-gradient(to bottom, white 4px, transparent 4px) 0 0,
        linear-gradient(to bottom, white 4px, transparent 4px) 100% 0,
        linear-gradient(to top, white 4px, transparent 4px) 0 100%,
        linear-gradient(to top, white 4px, transparent 4px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 20px 20px;

    position: absolute;
    width: 50vw !important;
    left: 25vw;
    top: 16vw;
    text-align: center;

}

.horizontal-box-bottom {
    width: 100px;
    height: 12vw;

    background:
        linear-gradient(to right, white 4px, transparent 4px) 0 0,
        linear-gradient(to right, white 4px, transparent 4px) 0 100%,
        linear-gradient(to left, white 4px, transparent 4px) 100% 0,
        linear-gradient(to left, white 4px, transparent 4px) 100% 100%,
        linear-gradient(to bottom, white 4px, transparent 4px) 0 0,
        linear-gradient(to bottom, white 4px, transparent 4px) 100% 0,
        linear-gradient(to top, white 4px, transparent 4px) 0 100%,
        linear-gradient(to top, white 4px, transparent 4px) 100% 100%;

    background-repeat: no-repeat;
    background-size: 20px 20px;

    position: absolute;
    width: 50vw !important;
    left: 25vw;
    top: 30vw;
    text-align: center;

}

.tag {
    display: inline-block;
    color: white;
    font-size: 13px;
    padding: 0.25rem 0.75rem;
    border-radius: 100px;
    margin: 0 6px 6px 0;
    letter-spacing: 1px;
    background: rgb(88, 87, 87);
    background: linear-gradient(45deg, rgba(74, 74, 74, 0.505) 49%, rgba(219, 219, 219, 0.505) 100%);
}

.download-btn {
    position: absolute;
    left: 26vw;
    top: 43.56vw;
}

h4 {
    margin-bottom: 1vw !important;
}

.nav-link:hover {
    color: rgba(178, 178, 178, 0.425) !important;
    transition: .5s;
}

.nav-link.active {
    transition: .5s;
    --bs-navbar-active-color: rgb(255, 255, 255);

}

.zoom-footer {
    transition: .5s;
}

.zoom-footer:hover {
    transform: scale(1.2);
    transition: .5s;
}

.zoom {
    transition: .5s;
}

.zoom:hover {
    transform: scale(1.05);
    transition: .5s;
}

.navbar-brand:hover, .navbar-toggler:hover {
    transform: scale(1.05);
    transition: .5s;
}

.form-control {
    border-radius: 15px !important;
}

.required {
    text-align: center;
    font-style: italic;
}

.container-required {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 2vw;
}

.error-text {
    text-align: center;
    margin-top: .5vw;
}

.sent-text {
    text-align: center;
    margin-top: .5vw;
}

.modal {
    color: black;
}

.modal-footer {
    justify-content: center !important;
}

.modal-dialog {
    top: 15vw !important;
}

.project-title-div {
    display: flex;
    justify-content: center;
}

.project-title-icon {
    margin-left: .5vw;
}

.invert {
    filter: invert(1);
}

.footer {
    display: flex;
    justify-content: center;
}

.project-div {
    flex-direction: row;
}

@media only screen and (max-width: 1300px) {
    .carousel-inner {}

    .carousel {
        position: relative;
        top: -50vw;
        left: 38vw;
    }
}


@media only screen and (max-width: 992px) {
    .carousel-caption {
        height: 20vw;
    }

    .carousel {
        position: relative;
        top: -50vw;
        left: 38vw;
    }

    .section-header {
        top: 33%;
    }

    .container-fluid{
        justify-content: center !important;
    }

    .nav-link{
        text-align: center;
    }

    .hand-writing{
        font-size: 7vw;
    }
}

@media only screen and (max-width: 769px) {
    .navbar-brand{
        margin: 2vw 0 0 2vw;
    }

    .hand-writing{
        font-size: 10vw;
    }
}

@media only screen and (max-width: 500px) {
    .navbar-brand{
        margin: 2vw 0 0 2vw;
    }

    .hand-writing{
        font-size: 12vw;
    }
}

